<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Inspix | Sign Up</title>
  <link rel="stylesheet" href="/stylesheets/register.css" />
</head>
<body>

  <div class="logo-box">
  <span class="logo-text">Inspix</span>
</div>


  <div class="container">
    <div class="content">
      <p class="header">Create an account</p>

      <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" class="detail" required />
        <input type="text" name="fullName" placeholder="Full Name" class="detail" required />
        <input type="email" name="email" placeholder="Email" class="detail" required />
        <input type="password" name="password" placeholder="Password" class="detail" required />
        <input type="submit" class="btn int" value="Sign up" />
      </form>

      <footer>
        <p>
          By continuing, you agree to Inspix's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
      <a class="sign" href="/login">Already have an account? Log in</a>
      </footer>
    </div>
  </div>
</body>
</html>
