<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Inspix | Log In</title>
  <link rel="stylesheet" href="/stylesheets/login.css" />
</head>
<body>

  <div class="logo-box">
  <span class="logo-text">Inspix</span>
</div>


  <div class="container">
    <div class="content">
      <p class="header">Welcome to Inspix<br>Log in</p>

      <% if (typeof error !== "undefined") { %>
        <p style="color: red; font-weight: medium; margin-bottom: 10px">
          <%= error %>
        </p>
        <% } %>

       <form action="/login" method="post">
      
      <input type="text" name="username" placeholder="Username" class="detail" />
      <input type="password" name="password" placeholder="Password" class="detail" />
     
      <input type="submit" class="btn int" value="Log in">

    </form>

      <footer>
        <p>
          By continuing, you agree to Inspix's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
      <a class="sign" href="/">Not on Inspix yet? Sign up</a>
      </footer>
    </div>
  </div>
</body>
</html>
